body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.main-space{
    border-radius: 25px;
    background: #fefefe;
    box-shadow: 10px 10px 5px #888888;
    margin-top: 2.5%;
    border-top: 3px solid black;
    border-bottom: 5px solid black;
    border-left: 3px solid black;
    border-right: 3px solid black;
}