
<nav class="navbar container">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" routerLink="">USG</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li routerLinkActive="active"><a routerLink="news">News</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Resources <span class="caret"></span></a>
          <ul class="dropdown-menu">
          <li><a routerLink="collisiontable">Collision Table</a></li>
          <li><a routerLink="unetsteam">Unet/Steamworks</a></li>
            <li class="divider"></li>
            <li class="dropdown-submenu">
              <a tabindex="-1" href="#">Free Assets</a>
              <ul class="dropdown-menu">
                <li class="dropdown-submenu">
                    <a href="#">Music</a>
                    <ul class="dropdown-menu">
                      <li><a href="http://www.chibola.com/crfml">Chibola</a></li>
                      <li><a href="http://incompetech.com/">Incompetech</a></li>
                    </ul>
                </li>
                <li class="dropdown-submenu">
                    <a href="#">Sounds</a>
                    <ul class="dropdown-menu">
                      <li><a href="http://www.freesound.org">FreeSound.org</a></li>
                    </ul>
                </li>
                <li class="dropdown-submenu">
                    <a href="#">Models and More</a>
                    <ul class="dropdown-menu">
                      <li><a href="http://www.blendswap.com/">BlendSwap.com</a></li>
                      <li><a href="http://sketchup.google.com/3dwarehouse/">Google 3d Warehouse</a></li>
                      <li><a href="http://www.cgtextures.com/">cgTextures</a></li>
                      <li><a href="http://opengameart.org/">OpenGameArt.org</a></li>
                      <li><a href="http://www.glitchthegame.com/">Glitch Garden</a></li>
                      <li><a href="http://kenney.nl/assets">Kenney Sprites/Tiles</a></li>
                      <li><a href="http://www.procedural-worlds.com/blog/best-free-unity-assets-categorised-mega-list/">Procedural Worlds Asset List</a></li>
                    </ul>
                </li>
              </ul>
            </li>
          </ul>
          <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Unity Official <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="https://docs.unity3d.com/ScriptReference/">Scripting API</a></li>
            <li><a href="https://forum.unity3d.com/">Forums</a></li>
            <li><a href="http://wiki.unity3d.com/index.php/Main_Page">Wiki</a></li>
            <li><a href="https://www.youtube.com/user/Unity3D">YouTube</a></li>
            <li><a href="https://www.unity3d.com/learn">Learn</a></li>
            <li><a href="https://store.unity.com/front-page">Get Unity</a></li>
            <!--<li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">One more separated link</a></li>-->
          </ul>
        </li>
        
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li routerLinkActive="active" *ngIf="!isLoggedIn()"><a [routerLink]="['login']">Signin</a></li>
        <li routerLinkActive="active" *ngIf="!isLoggedIn()"><a [routerLink]="['signup']">Signup</a></li>
        <li routerLinkActive="active" *ngIf="isLoggedIn()"><a [routerLink]="['logout']" (click)="onLogout()">Logout</a></li>      
      </ul>
    </div>
  </div>
</nav>
